.pan-controller {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  background: #3f51b5;
  position: relative;
  padding-top: 10px;
}

#pan-controller-right:after {
  content: 'Movement zone';
  opacity: 0.3;
  font-size: 40px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 26%;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.5;
}

.data-wrapper > div {
  text-align: center;
}

#pan-controller-right {
  position: absolute;
  width: 100%;
  height: calc(100% - 110px);
  top: 110px;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
}
