<mat-card class="pan-controller margin-right">
  <div class="data-wrapper">
    <div>Left motor<br/>{{lastLeft * 100 | number:'0.0'}}%</div>
    <div>Direction<br/>{{lastDir === 0 ? 'STOP' : lastDir === 1 ? '↑' : '↓'}}</div>
    <div>Right motor<br/>{{lastRight * 100 | number:'0.0'}}%</div>
  </div>
  <app-keyboard-controller></app-keyboard-controller>
  <div id="pan-controller-right"></div>
</mat-card>
