:host {
  flex-grow: 1;
}

.wrapper {
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.wrapper.vr {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9;
  margin: 0 -15px;
}

.header {
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4054B2;
  margin-top: -24px !important;
}

.image-wrapper {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-width: 100%;
}

.image-wrapper img.vr {
  width: 50%;
  height: 100vh;
}

.settings {
  position: absolute;
  right: 50px;
  display: flex;
  transition: width 0.5s ease-in-out;
  width: calc(100% - 50px);
  overflow: hidden;
  background: #3f51b5;
  justify-content: flex-end;
  z-index: 1;
  max-height: 53px;
  align-items: center;
}

.settings-button {
  transition: transform 0.5s ease-in-out;
}

.settings-button.rotate {
  transform: rotate(90deg);
}

.settings.hidden {
  width: 0;
}

.ip {
  width: 100px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: scale(1.5);
  }
}

.awb {
  width: 120px;
}

.turning-on {
  height: 0;
  color: #c9c9c9;
  overflow: hidden;
  font-size: 12px;
  transition: all 0.25s ease-in-out;
}

.turning-on.rollup {
  height: 20px;
}
