<mat-card class="wrapper margin-bottom no-padding-bottom no-padding-left no-padding-right" [ngClass]="{vr: isVrOn}">
  <mat-card-header class="header">
    <mat-card-title><h3>Video vision</h3></mat-card-title>
    <div class="flex flex-middle">
      <div>
        <mat-slide-toggle class="margin-right" (change)="toggleCamera($event)" labelPosition="before">Turn on camera</mat-slide-toggle>
        <mat-slide-toggle class="margin-right" *ngIf="isCameraOn" (change)="toggleVR($event)" labelPosition="before">VR</mat-slide-toggle>
        <div [ngClass]="{rollup: waitingForVideo}" class="turning-on">turning on...</div>
      </div>
      <button mat-icon-button *ngIf="isCameraOn && !waitingForVideo" (click)="downloadPhoto()">
        <mat-icon aria-label="Take photo">cloud_download</mat-icon>
      </button>
    </div>
    <div class="flex flex-middle">
      <div [ngClass]="{hidden: !showSettings}" class="settings">
        <mat-form-field class="ip select-white" floatLabel="never">
          <mat-select placeholder="IP address" [(ngModel)]="IP">
            <mat-option [value]="activeRobot?.basicInfo?.localIp">Local IP</mat-option>
            <mat-option [value]="activeRobot?.basicInfo?.publicIp">Public IP</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-icon-button (click)="toggleSettings()" class="margin-right settings-button" [ngClass]="{rotate: !showSettings}">
        <mat-icon aria-label="Settings">settings</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content #target>
    <div class="image-wrapper" *ngIf="isCameraOn">
      <img [src]="'http://' + IP + ':8080/?action=stream'" (error)="tryToLoadImage()" [ngClass]="{vr: isVrOn}"/>
      <img [src]="'http://' + IP + ':8080/?action=stream'" (error)="tryToLoadImage()" [ngClass]="{vr: isVrOn}" *ngIf="isVrOn"/>
    </div>
  </mat-card-content>
</mat-card>
