<mat-toolbar color="primary" class="panel">
  <span class="title margin-right">SecuBot Mission Control</span>
  <mat-form-field class="robots-wrapper" floatLabel="never">
    <mat-select placeholder="Select robot" (selectionChange)="handleChangeRobot($event)">
      <mat-option *ngFor="let robot of robots" [value]="robot">
        {{robot.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="connection-wrapper margin-right">
    <button mat-icon-button (click)="pingRobot()">
      <mat-icon>settings_ethernet</mat-icon>
    </button>
    <div class="connection-text">
      {{robotActive ? 'ONLINE' : 'OFFLINE'}}
      <div class="check-connection" *ngIf="isPinging">checking...</div>
    </div>
  </div>
  <!--<div *ngIf="activeRobot?.basicInfo">{{activeRobot.basicInfo.publicIp}}({{activeRobot.basicInfo.localIp}})</div>-->
  <mat-form-field *ngIf="activeRobot" class="robots-wrapper" floatLabel="never">
    <mat-select placeholder="Panels" [(value)]="selectedPanels" multiple>
      <mat-select-trigger>Panels</mat-select-trigger>
      <mat-option *ngFor="let panel of panels" [value]="panel.id">{{panel.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>

<div *ngIf="activeRobot && robotActive" class="container">
  <app-system-controls [hidden]="!selectedPanels.includes(1)"></app-system-controls>
  <app-photo-vision [hidden]="!selectedPanels.includes(5)"></app-photo-vision>
  <app-video-vision *ngIf="selectedPanels.includes(6)"></app-video-vision>
  <app-terminal [hidden]="!selectedPanels.includes(2)"></app-terminal>
    <div class="panels-wrapper">
      <app-move-controller [hidden]="!selectedPanels.includes(3)"></app-move-controller>
      <app-sensor-data [hidden]="!selectedPanels.includes(4)"></app-sensor-data>
    </div>
</div>
