:host {
  flex-grow: 1;
}

.wrapper {
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4054B2;
  margin-top: -24px !important;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper img {
  max-width: 100%;
}

.settings {
  position: absolute;
  right: 50px;
  display: flex;
  transition: width 0.5s ease-in-out;
  width: calc(100% - 50px);
  overflow: hidden;
  background: #3f51b5;
  justify-content: flex-end;
  z-index: 1;
  max-height: 53px;
  align-items: center;
}

.settings-button {
  transition: transform 0.5s ease-in-out;
}

.settings-button.rotate {
  transform: rotate(90deg);
}

.settings.hidden {
  width: 0;
}

.resolution {
  width: 100px;
}

.quality {
  width: 70px;
}

.take-photo-button {
  animation: pulse .75s ease-in-out 0s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: scale(1.5);
  }
}

.awb {
  width: 120px;
}
