:host {
  flex-grow: 1;
}

.wrapper {
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4054B2;
  margin: 0 -24px;
  margin-top: -24px !important;
}

.content {
  display: flex;
}

.input {
  flex-grow: 1;
}

.terminal-stack {
  font-size: 10px;
  max-height: 200px;
  overflow-y: scroll;
}


