<mat-card class="margin-bottom">
  <div class="wrapper">
    <div class="solar-panel-wrapper">
      <div>Solar panels</div>
      <mat-radio-group (change)="solarPanelsChanged($event)" [value]="solarPosition.AUTO">
        <mat-radio-button [value]="solarPosition.CLOSE">Close</mat-radio-button>
        <mat-radio-button [value]="solarPosition.AUTO" class="margin-left">Auto</mat-radio-button>
        <mat-radio-button [value]="solarPosition.OPEN" class="margin-left">Open</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-raised-button>Sleep</button>

    GPS
    <mat-radio-group value="1">
      <mat-radio-button value="1">On</mat-radio-button>
      <mat-radio-button value="0" class="margin-left">Off</mat-radio-button>
    </mat-radio-group>

    Network
    <mat-radio-group value="1">
      <mat-radio-button value="1">On</mat-radio-button>
      <mat-radio-button value="0" class="margin-left">Off</mat-radio-button>
    </mat-radio-group>
  </div>

</mat-card>
