/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 100vh;
  margin: 0;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(38,38,38,1) 100%) ; /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(38,38,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.margin-top {
  margin-top: 15px !important;
}

.margin-right {
  margin-right: 15px !important;;
}

.margin-bottom {
  margin-bottom: 15px !important;;
}

.margin-left {
  margin-left: 15px !important;;
}

.padding-top {
  padding-top: 15px !important;;
}

.padding-right {
  padding-right: 15px !important;;
}

.padding-bottom {
  padding-bottom: 15px !important;;
}

.padding-left {
  padding-left: 15px !important;;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.flex {
  display: flex;
}

.flex-middle {
 align-items: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.select-white .mat-select-value, .select-white .mat-select-arrow {
  color: white;
}

.select-white .mat-form-field-underline {
  background-color: white;
}
