<mat-slide-toggle [checked]="true" (change)="controlWithKeyboardChanged($event)">Keyboard</mat-slide-toggle>
<div *ngIf="allowKeyboard" class="control margin-left">
  <div>Speed</div>
  <mat-slider min="0" max="1" step="0.05" [thumbLabel]="true" class="slider"
              (change)="handleChangeSpeed($event)" [value]="speed"
  [displayWith]="renderThumb.bind(this)"></mat-slider>
  <div class="direction">
    <span  *ngIf="left === right">{{dir === 0 ? 'STOP' : dir === 1 ? '↑' : '↓'}}</span>
    {{left > 0 && right === 0 ? '→' : ''}}
    {{right > 0 && left === 0 ? '←' : ''}}
  </div>
</div>
<div>{{data}}</div>

